{% extends "base_doc.html" %}

{% block content %}
<div class="space-y-6">

  <!-- Título -->
  <h2 class="text-xl font-semibold text-center">SEGUIMIENTO DE CANDIDATOS</h2>

  <!-- Filtros -->
  <div class="bg-[#D9D9D9] p-6 rounded-md shadow space-y-4 max-w-4xl mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div>
        <label class="block text-sm font-medium">Estandar Competencia:</label>
        <select class="w-full mt-1 px-2 py-1 rounded bg-white border border-gray-300">
          <option>Selecciona</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium">Proyecto:</label>
        <select class="w-full mt-1 px-2 py-1 rounded bg-white border border-gray-300">
          <option>Selecciona</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium">Grupo:</label>
        <select class="w-full mt-1 px-2 py-1 rounded bg-white border border-gray-300">
          <option>Selecciona</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium">Candidato:</label>
        <select class="w-full mt-1 px-2 py-1 rounded bg-white border border-gray-300">
          <option>Selecciona</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="overflow-x-auto bg-[#D9D9D9] rounded-md p-4 shadow max-w-7xl mx-auto">
    <table class="min-w-full text-left text-sm text-black">
      <tbody>
                
        {% for candidato in candidatos %}
          <!-- Nombre candidato -->
          <thead class="border-b border-gray-400">
            <tr>
              <th colspan="10" class="text-center py-4">{{candidato.nombre}}</th>
            </tr>
          </thead>

          <!-- EC, Proyecto, Grupo -->
          <tr>
            <td colspan="10" class="text-center py-4">EC: x.    Proyecto: y.   Grupo: z.</td>
          </tr>




          <!-- Columnas -->
          <tr>
            <th class="px-4 py-2">Documento</th>
            <th class="px-4 py-2">Realizado</th>
            <th class="px-4 py-2">Acción</th>
          </tr>

          <!-- Filas: Documentos-->
          <!-- Correo -->
          <tr class="border-t border-gray-300 hover:bg-gray-200">
            <td class="px-4 py-2">Correo</td>     
            <td class="px-4 py-2">
              {% if candidato.correo %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
            <td class="px-4 py-2">
              <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                Agregar/Modificar
              </a>
              {% comment %} {% if candidato.correo %}
                <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                  Ver
                </a>
              {% else %}
                <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                  Ver
                </a>
              {% endif %} {% endcomment %}
            </td>
          </tr>

          <!-- Curp -->
          <tr class="border-t border-gray-300 hover:bg-gray-200">
            <td class="px-4 py-2">Curp</td>     
            <td class="px-4 py-2">
              {% if candidato.curp %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
            <td class="px-4 py-2">
              <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                Agregar/Modificar
              </a>
            </td>
          </tr>

          <!-- INE -->
          <tr class="border-t border-gray-300 hover:bg-gray-200">
            <td class="px-4 py-2">INE</td>     
            <td class="px-4 py-2">
              {% if candidato.ine %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
            <td class="px-4 py-2">
              <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                Agregar/Modificar
              </a>
            </td>
          </tr>
          
          <!-- Foto -->
          <tr class="border-t border-gray-300 hover:bg-gray-200">
            <td class="px-4 py-2">Foto</td>     
            <td class="px-4 py-2">
              {% if candidato.foto %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
            <td class="px-4 py-2">
              <a class="w-[120px] py-2 bg-[#D9D9D9] hover:bg-[#F5F5F5] flex items-center justify-center rounded-md border border-gray-400 text-center inline-block">
                Agregar/Modificar
              </a>
            </td>
          </tr>
          
          
        {% empty %}
            <tr>
              <td colspan="10" class="text-center py-4">No hay candidatos registrados.</td>
            </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
